<div class="container">
  <div class="row mx-auto">
    <div class="col">

      <%= image_tag '宇宙猫.jpg' %>

      <h2>休日を無駄にしていませんか？</h2>

      <p>
        ここでは、皆さんが休日に何をするか困らないように<br>
        我々が充実した休日を提供できるように努めていきます。
      </p>

    </div>
  </div>
</div>
