<div class="container">
  <div class="row mx-auto">
    <div class="col">

      <div class="box">
        <div class="images">
          <%= image_tag "rafael-cisneros-mendez-y5PG8ZecXQI-unsplash.jpg" %>
          <%= image_tag "sunset-g947d4caa0_1920.jpg" %>
          <%= image_tag "tron-le-JsuBKjHGDMM-unsplash.jpg" %>
          <%= image_tag "woman-ge50f2b486_1920.jpg" %>
        </div>
      </div>

      <h1>ようこそRecord of Holidaysへ！</h1>
    </div>
  </div>
</div>
